div.totalitems{    
    position: absolute;
    top: 11.5rem;
    right: 8rem;
    color: red;
    z-index: 1000;
    font-size: 25px;
}
        div.naeimg{
            position: absolute;
            top: 10rem;
            right: 9rem;
            img{
                width: 3rem;
            }
        }
        @media screen and (max-width:924px){
            div.totalitems{    
                position: absolute;
                top: 13.5rem;
                right: 4rem;
                color: red;
                z-index: 1000;
                font-size: 25px;
            }
                    div.naeimg{
                        position: absolute;
                        top: 13rem;
                        right: 5rem;
                    }
        }
