@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
//mettre les variable pour la couleur des hr
form.contact{
    text-align: center;
    width: 35rem;
}
div.main-contact{

    text-align: center;
    margin: auto;

    .ligne{
        border: 1px solid black;
        width: 27rem;
        margin-top: -0.5rem;

    }
    h2{
        text-align: center;
        font-family: $main-font;
        font-size: $font-contact;
        line-height: 3.9rem;
    }

    p{
        font-family: $main-font;
        font-size: $font-base;
        line-height: $line-height-base;
    }

    h1{
        text-align: center;
        font-family: $main-font;
        font-size: $font-contact;
            line-height: 3.9rem;

    }
    hr.trait{
        border-top: -0.5rem;
        color:$red;
    }
    hr.trait-contact{
        border-top: 0 !important;
        border-bottom: 4px solid;
        color: $red;

    }
    div.all-contact{
        display: flex;

        .horaire{
            margin: auto;
            padding: 0;
        }
    }
}
div.contact-form{

    form.formulaire{

        text-align: center;
        margin-top: 3rem;

    }
}
input.form-control{
    border: 1px solid #649bf4;
}
textarea.form-control{
    border: 1px solid #649bf4;
}

.maps{
    text-align: center;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.mailmarche{
    margin: auto;
}
@media screen and (max-width:924px){
    div.container {
        text-align: center;
        width: 100%;
    }
    .maps{
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        margin-right: auto;
        margin-left: auto;
    }
    div.col-5{

        flex: 0 0 41.666667%;
        max-width: 86.666667%;

    }



    div.main-contact .ligne {
        border: 2px solid black;
        width: 17rem;
    }
}

