
   h5.nom{
    text-align: center;
    font-size: $font-name;
    color: black;
    padding: 4rem;
}

div.description-wines{
    display: flex;
    flex-wrap: wrap;
    .img-desc{
        justify-content: center;
    display: flex;
    width: 45%;
    }
    img{
        width: 12rem;
        height: 80%;
    }
    .description{
        width: 50%;
        p{
            font-size: $font-base;
            font-family: $main-font;
            line-height: $ligne-height-description;
        }
    }
}

@media screen and (max-width:625px){
    div.description-wines{
        display: flex;
        flex-wrap: wrap;
        .img-desc{
            justify-content: center;
        display: flex;
        width: auto;
        }
        img{
            width: 10rem;

        }
        .description{
            margin: auto;
            width: auto;
        }
    }
}
