div.main-footer{
    background: linear-gradient(180deg, #C4C4C4 -8.5%,
    rgba(196, 196, 196, 0.756906) 15.81%,
     rgba(196, 196, 196, 0.541436) 37.35%,
      rgba(196, 196, 196, 0.370166) 54.48%,
       rgba(196, 196, 196, 0.176796) 73.82%,
        rgba(196, 196, 196, 0) 91.5%);

        hr.trait-footer{
            margin:0;
            border-bottom: 3px solid;
            border-top :0 !important;
            color: #c60025;
        }
    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 11vw;


        .textarea{
            font-size: 1rem;
            line-height: 0.5;
        }


                    img.fblogo{
                        height: 4vh;
                    }
            }
                    img.aoclogo{
                        display: flex;
                        flex-wrap: wrap;
                        width: 15rem;
                        max-width: 200px;
                        height: 11vw;

                    }
                    img.logofooter{
                        vertical-align: middle;
                    border-style: none;
                    height: 10vw
                    }
}

div.flogo{
    align-items: center;
    display: grid;
}

div.aoc{
    align-items: center;
    display:grid;
}
p.castle{
    margin-top: 1.3rem;
}
@media screen and (max-width:924px){
    div.main-footer{
        .textarea {
            text-align: center;
            font-size: 1rem;
            line-height: 0.8;
            width: 100%;
        }
        div.flogo {
            width: 100%;
            align-items: center;
            display: grid;
            text-align: center;
        }
        div.aoc {
            width: 10.5rem;
            align-items: center;
            display: grid;
            margin: 0;
        }
        img.aoclogo{
            display: flex;
            flex-wrap: wrap;
            max-width: 200px;
            height: auto;
            width: 9.5rem;

        }
        img.logofooter{
            vertical-align: middle;
        border-style: none;
        height: auto;
        width: 9rem;
        }
    }
}
