div.main-jus{
    background-image: url(http://www.kingsdown-uk.com/wp-content/uploads/2016/10/Fruit.jpg);
    display: flex;
    justify-content:space-around;
    padding: 1rem;
    flex-wrap: wrap;
    background-position: center;
    background-size: cover;
}
div.jus-contenu{
    flex-wrap: wrap;
    background-color: transparent;
    border: 0 !important;
    width: 26rem;
    min-width: 175px;

}
div.card-body{
    background-color: transparent !important;
    text-align: center;
    div.card-title{
        background-color: white !important;
    }
}
div.allimg{
    z-index: 0;
    flex-wrap: wrap;
    margin: auto;


    div.morejus{
        text-align: center;
        align-content: center;
        align-items: center;
        display: none;
        a{
        height: 11rem;
        width: 5.5rem;
        position: absolute;
        left: 1rem;
        top: 16rem;;
        background-image: url(https://img.freepik.com/free-vector/elegant-white-background-with-shiny-lines_1017-17580.jpg?size=626&ext=jpg);
        background-size: cover;
        text-decoration: none;
        color: black;
        border-radius: .25rem;
        font-family: 'Stylish', sans-serif;
        p{
            background-color: white;
            font-size: 1.2rem;
            align-items: center;
            margin-bottom: 1rem;
            align-content: center;
            line-height: 3rem;
            border-radius: 10%;
        }
    }
}
                &:hover{
                    cursor: pointer;
                    transform: translateY(-20px);
                    transition-duration: 1.5s;
                    opacity: 0.85;
                    .morejus{
                        display: block;
                    }
                    }

}

