
// penser a faire des variables pour information et cépage
div.main-home{
    background-image: url(https://image.noelshack.com/fichiers/2019/31/1/1564386625-29258544-1499074450217961-1792183560770158592-n.jpg);
    background-position: center;
    justify-content: center;
        display: flex;
        width: 100%;
        flex-wrap: wrap;

    div.title-card{
        text-align: center;
        font-size: 1rem;
        color: black;
        font-family: 'B612 Mono', monospace;
        border-bottom: 2px solid black;

    }
}

div.card-body{
    padding: 0.5rem;
    .informations{
        font-family: 'Cutive Mono', monospace;
        font-size: $home-font;
        line-height: 2;
        padding: 0;
    }
}

.aoc{
    padding: 0;
    line-height: 1.4;
    font-family: 'Cutive Mono', monospace;
    font-size: $home-font;
    line-height: 0.6rem;

}

div.ab{
    justify-content: center;
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    div.home-content{
        width: 38rem;
        -webkit-box-shadow: 2px 7px 14px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 7px 14px 1px rgba(0,0,0,0.75);
        box-shadow: 2px 7px 14px 1px rgba(0,0,0,0.75);
        margin: 2rem;
        background-color:white;
        height: 100%;
        opacity: 0.90;
        div.cepage
        {
            line-height: 0.3;
            padding: 0;
            padding: 0;
            font-family: 'Cutive Mono', monospace;
            font-size: $home-font;
        }
    }

    }
    //index galerie css

    div.images_galerie{
        width: 16rem;
        margin: auto;
    }

    @media screen and (max-width:1320px){
        div.ab div.home-content{
            width: 41rem;
        }


    }
