@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Stylish&display=swap');
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$main-font:'Crimson Text', serif;
$font-base: 1.4rem;
$line-height-base: 1.4;
$ligne-height-description:1.6;
$font-contact:2rem;
$font-name:2.5em;
$home-font:1.09rem;

// Colors

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red:  #6D071A;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//Text align
$text-align:center;
