div.main-wine {

    display: flex;
    justify-content: center;
    padding: 1rem;
    flex-wrap: wrap;
    background-position: center;
    background-size: cover;
    text-align: center;
    background: #4CA1AF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

div.allimg img {
    width: auto;
    height: 22rem;
}

div.wine-contenu {
    background-color: transparent;
    border: 0 !important;
    width: 25rem;
    min-width: 175px;

}

div.name {

    color: white;
    text-align: center;
    margin: auto;

    .card-title {
        background-color: #007bff;
        border-color: #007bff;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
    }

}




div.allcontent {
    flex-wrap: wrap;
    margin: auto;

    .card {
        border: 0 !important;

    }
}

div.wine_img {
    margin: auto;
    width: 30rem;
    max-width: 924px;
    text-align: center;

    .img {
        width: 100%;
    }

    .card-img-top {
        margin: auto;
        height: 26rem;
        width: 8rem;
    }
}

div.allwine {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

//fin crud

@media screen and (max-width:924px) {


    div.allimg {
        margin: 3rem;
    }

    div.wine-contenu {
        justify-content: center;
        margin: auto;
        background-color: transparent;
        border: 0 !important;
        width: 100%;
        margin: auto;
        align-items: center;
    }

    div.allimg img {
        width: 8rem;
        height: auto;
    }


}
