<template>
  <div>
    <h1>{{ title }}</h1>
    <button @click="callMethod"></button>
  </div>
</template>

<script>
export default {
  data: function() {},
  methods: {
    callMethod: function(event) {
      alert("Hello : " + this.title);
    }
  }
};
</script>

<style lang="scss">
</style>

