<template>

<div class="card">
<span><input type="checkbox" class="checkbox" @change="sortedItems" v-model="checked">Trier par date de création</span>



    <div class="main-pics main-galerie">
    <div v-for="galerie in galeries " :key="galerie.name">
        <div class="card img-galerie">
        <img class='image' :src="galerie.image_url" alt="">
        </div>
        <p class="date">{{galerie.created_at}}</p>

    </div>
    </div>

</div>
</template>

<script>

export default {

    data(){

        return{
            galeries:[],
            checked:false,


        }
    },
    mounted(){
        this.getPhotos();
        this.sortedItems;

    },
    methods:{
        getPhotos(){

            fetch('/galerie/description')
                .then(response => {

                    return response.json()
                })
                .then(json => {

                    this.galeries = json.data
                    })
                .catch(error=>{
                    location.href = '/';
                })
        },
        sortedItems: function() {

            this.galeries.sort((a, b) => (a.created_at > b.created_at) ? 1 : -1)

             return this.galeries;
    },


    }

}
</script>

<style lang="scss">

input.checkbox{
       width: 3rem;
    height: 1.5rem;
}
div.main-pics{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

div.img-galerie{
    border:0;
    margin: 0;
    padding: 2rem;
    margin: auto;

}
.image{
    width: 20rem;
}
p.date{
    display: none;
}
@media screen and (max-width:924px){
    div.img-galerie{
    border:0;
    margin: 0;
    padding: 0;
    margin: auto;

}
.image{
    width: 15rem;
}
}
</style>

