<template>
  <div class="main-content">
    <header>
      <div>
        <a href="/">
          <img
            class="logo"
            src="https://image.noelshack.com/fichiers/2019/23/1/1559548577-5239707b-8971-4b2c-b33c-48b1e267f640-200x200.png"
            alt
          />
        </a>
      </div>
      <h1>Château Fayet</h1>
      <h3>Depuis 1882</h3>
    </header>
    <hr class="trait-contact" />
    <fixed-header
      @change="updateFixedStatus"
      :threshold="propsData.threshold"
      :headerClass="propsData.headerClass"
      :fixedClass="propsData.fixedClass"
      :hideScrollUp="propsData.hideScrollUp"
    >
      <nav
        id="navigation"
        class="navbar headroom navbar-expand-lg navbar-dark bg-secondary navigation"
        @scroll.native="handleScroll"
      >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navigation" id="navbarNavAltMarkup">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link link" href="/">
                Accueil
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link" href="/nosvins">Nos vins</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link" href="/nosjus">Nos Jus</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link" href="/commander">Commander</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link" href="contact">Nous Contacter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link" href="/galerie">Galerie</a>
            </li>
          </ul>
        </div>
      </nav>
    </fixed-header>

    <img
      @click="backToTop"
      class="jennieimg"
      src="https://image.noelshack.com/fichiers/2019/30/6/1564231793-img-4018092.png"
      alt
    />

    <hr class="trait" />
  </div>
</template>

<script>
import FixedHeader from "vue-fixed-header";
const createData = () => ({
  threshold: 200,
  headerClass: "vue-fixed-header",
  fixedClass: "vue-fixed-header--isFixed",
  hideScrollUp: false
});
export default {
  components: {
    FixedHeader
  },

  data: function() {
    return {
      fixedStatus: {
        headerIsFixed: false
      },
      propsData: { ...createData() },
      formData: { ...createData() }
    };
  },
  methods: {
    updateFixedStatus(next) {
      this.fixedStatus.headerIsFixed = next;
    },
    handleClickUpdate() {
      this.propsData = { ...this.formData };
    },
    handleClickCancel() {
      this.formData = { ...this.propsData };
    },

    backToTop: function() {
      window.scrollTo(0, 0, scroll);
    }
  }
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Stylish&display=swap");
.navbar.vue-fixed-header--isFixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 9999;
}
header {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    #c4c4c4 -8.5%,
    rgba(196, 196, 196, 0.756906) 15.81%,
    rgba(196, 196, 196, 0.541436) 37.35%,
    rgba(196, 196, 196, 0.370166) 54.48%,
    rgba(196, 196, 196, 0.176796) 73.82%,
    rgba(196, 196, 196, 0) 91.5%
  );
  img.logo {
    width: auto;
    height: 11vw;
  }

  h1 {
    font-family: "Stylish", sans-serif;
    font-size: 3.5rem;
    color: red;
  }
  h3 {
    width: 13rem;
    font-family: "Dancing Script", cursive;
    font-size: 2.5rem;
  }
}
nav.fixNavigation {
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
}

div.navigation {
  font-size: 1.3rem;
  justify-content: center;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 4.5rem;
}
hr.trait-contact {
  border-top: 0;
  margin: 0;
  border-bottom: 3px solid;
  height: 0;
  color: black;
}
hr.trait {
  margin: 0;
  border-bottom: 3px solid;
  border-top: 0 !important;
  color: black;
}

img.jennieimg {
  position: fixed;
  bottom: 1rem;
  left: 2rem;
  z-index: 1000;
  height: 50px;
  width: 50px;
  transition-duration: 2sec;
}

@media screen and (max-width: 924px) {
  header {
    justify-content: center;
    img.logo {
      width: auto;
      height: 20vw;
    }
  }
}
</style>
