<template>
  <div class="main">
    <div class="left">
      <button class="myButtonLeft" id="left-button" @click="swipeLeft">Précedent</button>
    </div>
    <div class="center" id="content" ref="content">
      <div v-for="jus in juses" :key="jus.id">
        <p>{{jus.name}}</p>
        <img :src="jus.image_url" alt />
      </div>
    </div>
    <div class="right">
      <button class="myButtonRight" id="right-button" @click="swipeRight">Suivant</button>
    </div>
    <div class="scrolling-wrapper">
      <div class="card" v-for="wine in wines" :key="wine.id">
        <p>{{wine.nom}}</p>
        <img :src="wine.image_url" alt />
        <form :action="'description/' + wine.id" method="get">
          <button type="submit" class="btn btn-primary">Description</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Jus",
  data() {
    return {
      juses: []
    };
  },
  mounted() {
    this.getImage();
  },
  methods: {
    getImage() {
      fetch("/jus/resource")
        .then(response => {
          return response.json();
        })
        .then(json => {
          this.juses = json.data;
        });
    },
    /**
     * scrollTo - Horizontal Scrolling
     * @param {(HTMLElement ref)} element - Scroll Container
     * @param {number} scrollPixels - pixel to scroll
     * @param {number} duration -  Duration of scrolling animation in millisec
     */
    scrollTo(element, scrollPixels, duration) {
      const scrollPos = element.scrollLeft;
      // Condition to check if scrolling is required
      if (
        !(
          (scrollPos === 0 || scrollPixels > 0) &&
          (element.clientWidth + scrollPos === element.scrollWidth ||
            scrollPixels < 0)
        )
      ) {
        // Get the start timestamp
        const startTime =
          "now" in window.performance
            ? performance.now()
            : new Date().getTime();

        function scroll(timestamp) {
          //Calculate the timeelapsed
          const timeElapsed = timestamp - startTime;
          //Calculate progress
          const progress = Math.max(timeElapsed / duration);
          //Set the scrolleft
          element.scrollLeft = scrollPos + scrollPixels * progress;
          //Check if elapsed time is less then duration then call the requestAnimation, otherwise exit
          if (timeElapsed < duration) {
            //Request for animation
            window.requestAnimationFrame(scroll);
          } else {
            return;
          }
        }
        //Call requestAnimationFrame on scroll function first time
        window.requestAnimationFrame(scroll);
      }
    },
    swipeLeft() {
      const content = this.$refs.content;
      this.scrollTo(content, -500, 700, 30);
    },
    swipeRight() {
      const content = this.$refs.content;
      this.scrollTo(content, 500, 700, 30);
    }
  }
};
</script>

<style lang="scss">
#jus {
  width: 100%;
}
div.main {
  display: flex;
  margin: auto;
  justify-content: center;
  img {
    width: auto;
    height: 29rem;
  }
}
#app {
  text-align: center;
  font-size: 20px;
}

.left {
  width: 30%;
  height: 200px;
  align-self: center;

  .myButtonLeft {
    background-color: #a6a7a8;
    border-radius: 42px;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Courier New;
    font-size: 17px;
    font-weight: bold;
    padding: 18px 40px;
    text-decoration: none;
  }
  .myButtonLeft:hover {
    background-color: #828582;
  }
  .myButtonLeft:active {
    position: relative;
    top: 1px;
  }
}

div.center {
  div {
    width: 100%;
    height: 100%;
    display: inline-block;
  }

  width: 35%;
  height: 600px;
  margin: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.right {
  width: 30%;
  height: 200px;
  align-self: center;
  .myButtonRight {
    background-color: #a6a7a8;
    border-radius: 42px;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Courier New;
    font-size: 17px;
    font-weight: bold;
    padding: 18px 40px;
    text-decoration: none;
  }
  .myButtonRight:hover {
    background-color: #828582;
  }
  .myButtonRight:active {
    position: relative;
    top: 1px;
  }
}
</style>
