<template>
  <div>
    <div>
      <p>Tous nos prix sont frais de port inclus, livraison domicile.</p>
      <p>Nous n'acceptons que les paiement par chèque</p>
      <p>Minimum de commande 24 bouteilles</p>
    </div>

    <div class="allshopcontent">
      <div>
        <p>Nos vins</p>
      </div>
      <span>
        <input type="checkbox" class="checkbox" @click="setSortOrder" />Trier les vins
      </span>

      <div class="card">
        <div class="main-pics main-galerie">
          <div class="cool" v-for="wine in sortedWines " :key="wine.id">
            <div class="card winepic">
              <div class="wineimg">
                <img
                  class="card-img-top"
                  :src="wine.image_url"
                  alt="Responsive image Card image cap"
                />
              </div>
            </div>

            <div class="coucou">{{wine.nom}}</div>
            <div>{{wine.prix}}€</div>

            <form :action="'/commander/addwine/' + wine.id" method="get">
              <button type="submit" class="btn btn-primary">Ajouter au panier</button>
            </form>
          </div>
        </div>
      </div>
      <hr class="trait" />
      <div>
        <p>Nos Jus</p>
      </div>
      <div class="card">
        <div class="main-pics main-galerie">
          <div v-for="jus in juses" :key="jus.id">
            <div class="card juspic">
              <div class="jusimg">
                <img
                  class="card-img-top"
                  :src="jus.image_url"
                  alt="Responsive image Card image cap"
                />
              </div>
            </div>
            <div class="coucou">{{jus.name}}</div>
            <div>{{jus.prix}}€</div>
            <form :action="'/commander/addjus/' + jus.id" method="get">
              <button type="submit" class="btn btn-primary">Ajouter au panier</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      wines: [],
      juses: [],
      winessortorder: "asc"
    };
  },
  mounted() {
    this.getWine();
    this.getJus();
  },
  computed: {
    sortedWines() {
      //operateur ternaire
      let result;
      this.winessortorder == "asc"
        ? (result = this.wines.sort((a, b) => a.prix - b.prix))
        : (result = this.wines.sort((a, b) => b.prix - a.prix));
      return result;
    }
  },
  methods: {
    setSortOrder() {
      this.winessortorder == "asc"
        ? (this.winessortorder = "desc")
        : (this.winessortorder = "asc");
    },
    getWine() {
      fetch("/wine/resource")
        .then(response => {
          return response.json();
        })
        .then(json => {
          this.wines = json.data;
        })
        .catch(error => {
          location.href = "/";
        });
    },

    getJus() {
      fetch("/jus/resource")
        .then(response => {
          return response.json();
        })
        .then(json => {
          this.juses = json.data;
        })
        .catch(error => {
          location.href = "/";
        });
    }
  }
};
</script>

<style lang="scss">
div.allshopcontent {
  div {
    text-align: center;
    margin: 0;
    .cool {
      padding-bottom: 2rem;
    }
  }

  form {
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 2rem;
  }
}

div.winepic {
  background-color: transparent;
  border: 0 !important;
  width: 25rem;
  div.wineimg img {
    width: auto;
    height: 22rem;
  }
}
div.juspic {
  background-color: transparent;
  border: 0 !important;
  width: 25rem;
  min-width: 175px;
  div.jusimg img {
    width: auto;
    height: 22rem;
  }
}

@media screen and (max-width: 924px) {
  div.winepic {
    justify-content: center;
    margin: auto;
    background-color: transparent;
    border: 0 !important;
    width: 20rem;
    margin: auto;
    align-items: center;
  }
  div.allimg img {
    width: 10rem;
  }
  div.juspic {
    justify-content: center;
    margin: auto;
    background-color: transparent;
    border: 0 !important;
    width: 100%;
    margin: auto;
    align-items: center;
  }
}
</style>

